keyboard
grpcio
google-auth
google-auth-oauthlib
numpy
openai
opencv-python
psutil
PyAudio
pydub
protobuf
pyvts
pywin32
requests
sounddevice
soundfile
SpeechRecognition
websocket-client
websockets
webrtcvad-wheels
pytest
pytest-asyncio
